.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter h1 {
  font-size: 5em;
  color: #fff;
}

.counter button {
  margin: 0 24px;

  border: 0;
  width: 6rem;
  height: 6rem;
  padding: 5px;
  border-radius: 5px;

  color: #fff;
  cursor: pointer;
  font-size: 5em;
  font-weight: bold;
  background: #3824b8;
  transition: background 0.2s;
}

.counter button:hover {
  background: #271981;
}

.counter button:active {
  background: #1c125c;
}
