.button-container,
.counters-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin: 40px auto;
}

.counters-container {
  flex-direction: column;

  margin: 0 auto;
  max-width: 200px;
}
