* {
  outline: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0 24px;

  border: 0;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 5px;

  color: #fff;
  cursor: pointer;
  font-size: 48px;
  font-weight: bold;
  background: crimson;
  transition: all 0.2s;
}

button:hover {
  background: #a5102d;
}

button:active {
  background: #5d091a;
}
