* {
  outline: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 97vh;

  background-color: #333;
}

h1 {
  font-size: 10em;
  color: #fff;
}

button {
  margin: 0 24px;

  border: 0;
  width: 12rem;
  height: 12rem;
  padding: 5px;
  border-radius: 5px;

  color: #fff;
  cursor: pointer;
  font-size: 10em;
  font-weight: bold;
  background: #3824b8;
  transition: background 0.2s;
}

button:hover {
  background: #271981;
}

button:active {
  background: #1c125c;
}
